<div class="container">
  <div class="tattoo-cards">
    <% @tattoos.each do |tattoo| %>
      <div class="tattoo-card">
        <%= cl_image_tag tattoo.image, class:"tattoo-card-image" %>
        <div class="tattoo-card-infos">
          <% tattoo.tags.each do |tag| %>
            <div class="tattoo-card-tags">
              <span class=<% tag.name %>><%= tag.name %></span>
            </div>
          <% end %>
          <%= cl_image_tag tattoo.artist_image, class:"tattoo-artist-image" %>
          <p class="tattoo-artist-name"><%= tattoo.artist_name %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
