<div class="container">
  <h1><%= @tattoo.description %></h1>
  <h2><%= @tattoo.artist.user.name %></h2>
  <div class="">
    <% @tattoo.tags.each do |tag| %>
      <h3><%= tag.name %></h3>
    <% end %>
  </div>
</div>
