<div class="banner">
<% content_for(:navbar_class, "navbar-home") %>
  <div class= "video-wrap">
  <%= video_tag "video.mp4",autoplay: true, loop: true, muted: 'muted' %>
  </div>
  <div class="banner-content">
    <h1>Find your ideal tattoo. Seamlessly.</h1>
    <p>Search for the one that best matches your personality.</p>
    <div class= "search">
      <%= form_tag tattoos_path, class: "form-inline", method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        size: 30,
        class: "input-xxlarge",
        placeholder: "Type an artist, a style or a localization"%>
      <div class=" submit">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
      <% end %>
    </div>
  </div>
</div>
