<div class="banner">
<% content_for(:navbar_class, "navbar-home") %>
  <div class= "video-wrap">
  <%= video_tag "video.mp4",autoplay: true, loop: true, muted: 'muted' %>
  </div>
  <div class="banner-content">
    <h1>Find your ideal tattoo. Seamlessly.</h1>
    <p>Search for the one that best matches your personality.</p>
    <form action="tattoos" method="get">
      <div class="input-group mb-3">
        <input name="query" type="text" class="form-control" placeholder="Search for artist, style, location..." aria-label="Search for artist, style, location..." aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="submit">Go for it!</button>
        </div>
      </div>
    </form>
    <%= link_to "or click here and show me ALL the tattoos!!", tattoos_path, class:"font-weight-bold" %>
  </div>
</div>
