.banner {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  width: 100vw;
  padding-top: 0px;
}
.video-wrap {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}
.video-wrap video {
  min-width: 100%;
  min-height: 100%;
}
.banner-content {
  z-index: 2;
h1 {
    color: white;
    font-weight: bold;
    font-size: 40px;
  }
  p {
    color: white;
    opacity: 0.8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 20px;
  }
}
