$banner-padding: 50px;
.banner {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), image-url("banner-image2.jpg");
  background-size: cover;
  margin-bottom: -$banner-padding;
  position: relative;
  padding-bottom: $banner-padding;
  h1 {
    color: white;
    font-weight: bold;
    font-size: 40px;
  }
  p {
    color: white;
    opacity: 0.8;
    font-size: 25px;
    font-weight: lighter;
    margin-bottom: 20px;
  }
  .btn {
    padding: 5px 20px;
    border-radius: 10%;
  }
}
#tattoos-home {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.more-tattoos {
  position: absolute;
  bottom: -8px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  height: 110px;
  width: 100%;
  background-image: linear-gradient(rgba(255,255,255,0), rgb(255, 255, 255));
  text-shadow: 1px 1px 0 #000;
}
