.tattoo-show {
  display: flex;
  justify-content: center;
}

.tattoo-photo {
  max-width: 100%;
  height: auto;
}

.tattoo-related-infos {
  background-color: white;
  padding: 23px;
  width: 17vw;
}

.tattoo-artist {
  display: flex;
  text-align: right;
}

.tattoo-artist-name:hover {
  font-weight: 900;
}
.related-tattoos {
  text-align: center;
}

