 .card-container {

}

.tattoo-cards {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-gap: 16px;
  // padding: 16px;
}

/* Using floats */
.grid-col {
  float: left;
  width: 360px;
}


@media(max-width: 992px) {
  .tattoo-cards {
    // grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .tattoo-cards {
    // grid-template-columns: 1fr;
  }
}

.artist-tattoo-card {
  overflow: hidden;
  border-radius: 10px;
}

.tattoo-card {
  overflow: hidden;
  min-height: 200px;
  border-radius: 10px;
  position: relative;
}

.tattoo-relative {
  // position: relative;
  width: 350px;
  margin-bottom: 8px;
}

.tattoo-artist-relative {
  // position: relative;
  width: 300px;
  margin-bottom: 8px;
}

.tattoo-card-infos {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tattoo-card-image {
  // height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all .5s ease-in-out;
}

.tattoo-artist-name {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.tattoo-card-tags {
  // width: 50%;
  height : 35%;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  visibility: hidden;
  position: absolute;
  bottom: 40px;
}

.tattoo-artist {
  position: absolute;
  bottom: 0px;
  right: -8px;
  transition: all .2s ease-in-out;
}

.tattoo-artist-name {
  position: absolute;
  visibility: hidden;
  font-size: 24px;
  bottom: 0px;
  color:white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.tattoo-tag {
  padding: 0px;
}

.tattoo-card:hover {
  .tattoo-card-tags {
    visibility: visible;
  }
  .tattoo-artist {
    transform: scale(1.2);
  }
  .tattoo-artist-name {
    visibility: visible;
  }
  .tattoo-card-image{
    transform: scale(1.2);
  }
}

.hover-unstyled:focus {
  box-shadow: none;
}
