 .card-container {
  margin-bottom: 16px;
}

.tattoo-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

@media(max-width: 992px) {
  .tattoo-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .tattoo-cards {
    grid-template-columns: 1fr;
  }
}

.tattoo-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.tattoo-card-infos {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tattoo-card-image {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.tattoo-artist-name {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.tattoo-card-tags {
  display: flex;
  justify-content: space-between;
}

.tattoo-artist {
  align-items: center;
}

.tattoo-tag {
  padding: 5px;
}
