.navbar-lewagon {
  justify-content: space-between;
  background: white;
  margin-bottom: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-collapse .nav-item{
  border-radius: 50%;
}

.navbar-link {
  color: black;
  font-weight: bold;
  padding: 10px;
  font-size: 13px;
}

.navbar-home {
  background: transparent;
  box-shadow: none;
  position: absolute;
  width: 100%;
  .navbar-link {
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 13px;
  }
  .search {
    display: none;
  }
}
